* {
    margin: 2;
    padding: 2;
    
}

body {
    
background-image: url(https://images.squarespace-cdn.com/content/v1/5e142229c73726304407e983/1602457935390-4SOV5PS1YJOQ6AX11LSH/hannah_quinlivan_2020_shroud_aluminium_and_acrylic_on_water_760_x_180_x_30_cm_installed_2.jpg?format=2500w)
    
    font-size: 16px;
    font-family: sans-serif
    background-color: antiquewhite;
}


.wrapper {
    
      background-image: url(assets/images/hannah_quinlivan_2020_shroud_aluminium_and_acrylic_on_water_760_x_180_x_30_cm_installed_2.jpg)
          
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-auto-rows: minmax(px, auto);
    grid-column-gap: 1rem;
    grid-template-areas: 
        "n h h h h h"
        "n m m m m m"
        "n f f f f f"
    
}

.header {
    grid-area: h;
    background: #ccc;
}


.nav {
    grid-area: n;
}


.main {
    grid-area: m;
    background: #f4f4f4;
}

.footer {
    grid-area: f;
    background: #e4e4e4;
}

img{height: 200px
}


h1{
    font-size: 2em;
    color: black
}

h2{
    font-size: 2em; 
}
    


a:hover {
    background: #fff;
    color: #000;
}


section{
  
    background-color: rgba(255, 0, 0, 0.6);
}


    
/*css comment*/ 
    
    
button{height: 50px;
width: 150px}



#first {
    background: orange;  
}

.second {
    background-image: url(hannah_quinlivan_2020_shroud_aluminium_and_acrylic_on_water_760_x_180_x_30_cm_installed_2.jpg)
    background: 
}





header nav ul li a {
    color: #000;
}



a {
    color: #000;
 
}



.second.wrapper {
    margin: 3em;
}

@media (min-width: 500px) {
    .header {
        background: red;
    }
}